/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.navbar-brand{
    color: #86479A !important;
}

.highlight{
    color: #F83493;
}

.navbar-nav li a{
    color: #86479A !important;
    margin-left: 10px;

}

.navbar-nav li a:hover{
    color: #F83493 !important;
}


/* home section */

.home{
    background: url(../img/photos/home-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.hm-title{
    font-size: 40px;
    font-weight: bold;
}

.custom-btn{
    background: linear-gradient(to right, #8C3F96, #ED3493);
    color: #fff;
    border-radius: 25px;
    padding: 9px 25px;
    font-size: 15px;
    transition: .3s;
}

.custom-btn:hover{
    color: #fff;
    transform: scale(1.06);
}

.home img{
    width: 40vw;
    animation: float 3s linear infinite;
}

@keyframes float {
    0%, 100%{
        transform: translateY(0rem);
    }

    50%{
        transform: translateY(-2.5rem);
    }
    
}

.feature{
    background: #F9F9F9;
}

.title-color{
    color: #B53A95;
}

.f-box{
    background: #fff;
    padding: 30px 15px;
    border: .1rem solid rgb(0,0,0,.1);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    border-radius: 5px;
    transition: .3s;
}

.f-box:hover{
    transform: scale(1.02);
}



.f-box P{
    font-size: 14px;
}

.col-md-4 .f-box .image{
    height: 40% !important;
}

.about{
    background: url(../img/photos/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-title{
    color: rgba(0, 0, 0, 0.541);
    font-weight: bold;
}

.about-single P{
    font-size: 15px;
}

.newsletter{
    background: url(../img/photos/subscribe-bg.png);
}

.newsletter-discription{
    text-align: center;
    color: #fff;
    font-size: 15px;
}

.subs-form{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 50px;
    background: none;
    color:white
}

.subs-form input[type=email]{
    background: none;
    border: none;
    border-radius: 50px;
    color:#fff;
    outline: none;
    cursor: pointer;

}

.subs-form ::-webkit-input-placeholder{
    color: #fff;
}

:focus::-webkit-input-placeholder{
    color:#fff;
}

.subs-form input[type=submit]{
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    background: #fff;
}

.subs-form input[type=submit]:hover{
    color: #F83493;
}



.review, .pricing, .contact, .footer-section{
    background: #F9F9F9;
}

.user-col{
    position: relative;
    transition: .3s;
}

.user-col .fa-quote-right{
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 70px;
    color: #f8349369;
}

/* user and price table css */

.user, .price-table{
    background: #fff;
    padding: 25px 20px;
    border: .1rem solid rgb(0,0,0,.1);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    border-radius: 5px;
    
}

.user-col:hover{
    transform: scale(1.02);

}

.price-table:hover{
    border: .1rem solid #F83493;
}

.active{
    border: .1rem solid #F83493;
}

.comment p{
    font-size: 14px;
    line-height: 23px;
}

.price-table .fa-check{
    color: green;
    margin-right: 5px;
}
.price-table .fa-times{
    color: red;
    margin-right: 5px;
}

.price-table li{
    color: rgba(0, 0, 0, 0.603);
}

.contact-box form{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgb(0,0,0,.2);
}

.contact-box form .input-box{
    position: relative;
}

.contact-box form .input-box input{
    background: none;
    color: #666;
    margin: .5rem 0;
    padding: .5rem .8rem;
    text-transform: none;
    border:none;
    position: relative;
    
}

.contact-box form .input-box::after{
    content: "";
    position: absolute;
    border-bottom: .1rem solid rgba(155, 155, 155, 0.301);
    bottom: 0px;
    left: 0;
    width: 100%;


}

.contact-box form .input-box textarea{
    resize: none;
    margin: .5rem 0;
    border: none;
}

.contact-box form .input-box label{
    color: #666;

}


.footer{
    background: url(../img/photos/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.ft-box p, .ft-box li, .quick-link li a{
    font-size: 14px;
}

.ft-box h3{
    text-decoration: underline;
    text-underline-offset: 5px;
    margin-bottom: 15px;
}

.quick-link li a{
    text-decoration: none;
    color: #fff;
}

.quick-link li a:hover{
    text-decoration: underline;
}

.quick-link li{
    margin-bottom: 5px;
}

.ct-box .icon{
    background: #fff;
    color: #ED3493;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.copyright-singnature{
    border-top: 1px solid #fff;
    margin-top: 20px;

}